In [1]:
import numpy as np
a = [[0,0,1,1,0,1,1,0,0,0],
[1,0,1,1,0,1,1,0,0,0],
[0,0,1,1,0,1,1,0,0,0],
[0,0,1,1,0,1,1,0,1,0],
[1,0,1,1,0,1,1,0,0,0],
[1,0,1,1,0,1,1,0,0,0],
[0,0,1,1,0,1,1,0,0,0],
[1,0,1,1,0,1,1,0,0,0],
[0,1,0,0,1,0,0,1,0,1],
[1,0,1,1,0,1,1,0,0,0]]

In [2]:
a

[[0, 0, 1, 1, 0, 1, 1, 0, 0, 0],
 [1, 0, 1, 1, 0, 1, 1, 0, 0, 0],
 [0, 0, 1, 1, 0, 1, 1, 0, 0, 0],
 [0, 0, 1, 1, 0, 1, 1, 0, 1, 0],
 [1, 0, 1, 1, 0, 1, 1, 0, 0, 0],
 [1, 0, 1, 1, 0, 1, 1, 0, 0, 0],
 [0, 0, 1, 1, 0, 1, 1, 0, 0, 0],
 [1, 0, 1, 1, 0, 1, 1, 0, 0, 0],
 [0, 1, 0, 0, 1, 0, 0, 1, 0, 1],
 [1, 0, 1, 1, 0, 1, 1, 0, 0, 0]]

In [3]:
a = np.asarray(a)

In [4]:
a

array([[0, 0, 1, 1, 0, 1, 1, 0, 0, 0],
       [1, 0, 1, 1, 0, 1, 1, 0, 0, 0],
       [0, 0, 1, 1, 0, 1, 1, 0, 0, 0],
       [0, 0, 1, 1, 0, 1, 1, 0, 1, 0],
       [1, 0, 1, 1, 0, 1, 1, 0, 0, 0],
       [1, 0, 1, 1, 0, 1, 1, 0, 0, 0],
       [0, 0, 1, 1, 0, 1, 1, 0, 0, 0],
       [1, 0, 1, 1, 0, 1, 1, 0, 0, 0],
       [0, 1, 0, 0, 1, 0, 0, 1, 0, 1],
       [1, 0, 1, 1, 0, 1, 1, 0, 0, 0]])

In [5]:
a = a.T

In [10]:
a

array([[0, 1, 0, 0, 1, 1, 0, 1, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0]])

In [7]:
row_value = []
for i in range(0,len(a)):
    s = ""
    for j in range(0,len(a[0])):
        s = s+str(a[i][j])
    row_value.append(s)

In [8]:
row_value

['0100110101',
 '0000000010',
 '1111111101',
 '1111111101',
 '0000000010',
 '1111111101',
 '1111111101',
 '0000000010',
 '0001000000',
 '0000000010']

In [15]:
row_value_decimal = []
for i in range(0,len(row_value)):
    row_value_decimal.append(int(row_value[i], base=2))

In [16]:
row_value_decimal

[309, 2, 1021, 1021, 2, 1021, 1021, 2, 64, 2]

In [17]:
list(row_value[0])

['0', '1', '0', '0', '1', '1', '0', '1', '0', '1']

In [19]:
sorted(row_value, reverse=True)

['1111111101',
 '1111111101',
 '1111111101',
 '1111111101',
 '0100110101',
 '0001000000',
 '0000000010',
 '0000000010',
 '0000000010',
 '0000000010']

In [20]:
row_value = sorted(row_value, reverse=True)

In [21]:
row_value

['1111111101',
 '1111111101',
 '1111111101',
 '1111111101',
 '0100110101',
 '0001000000',
 '0000000010',
 '0000000010',
 '0000000010',
 '0000000010']

In [24]:
sorted_a = []
for i in range(0,len(row_value)):
    sorted_a.append(list(row_value[i]))

In [25]:
sorted_a

[['1', '1', '1', '1', '1', '1', '1', '1', '0', '1'],
 ['1', '1', '1', '1', '1', '1', '1', '1', '0', '1'],
 ['1', '1', '1', '1', '1', '1', '1', '1', '0', '1'],
 ['1', '1', '1', '1', '1', '1', '1', '1', '0', '1'],
 ['0', '1', '0', '0', '1', '1', '0', '1', '0', '1'],
 ['0', '0', '0', '1', '0', '0', '0', '0', '0', '0'],
 ['0', '0', '0', '0', '0', '0', '0', '0', '1', '0'],
 ['0', '0', '0', '0', '0', '0', '0', '0', '1', '0'],
 ['0', '0', '0', '0', '0', '0', '0', '0', '1', '0'],
 ['0', '0', '0', '0', '0', '0', '0', '0', '1', '0']]

In [30]:
one_count = []
for j in range(0,len(sorted_a[0])):
    count = 0
    for i in range(0,len(sorted_a)):
        if sorted_a[i][j]=='1':
            count=count+1
            #print "hi"
    one_count.append(count)

In [31]:
one_count

[4, 5, 4, 5, 5, 5, 4, 5, 4, 5]

In [38]:
for j in range(0,len(sorted_a[0])-1):
    subset_check = 0
    for i in range(0,len(sorted_a)):
        if sorted_a[i][j]=='1' and sorted_a[i][j+1]=='1':
            subset_check+=1
    if subset_check == one_count[j+1]:
        print "Subset"
    elif subset_check == 0:
        print "No intersection"
    else:
        print "not a subset, but intersecting"
    print j

not a subset, but intersecting
0
Subset
1
not a subset, but intersecting
2
not a subset, but intersecting
3
Subset
4
Subset
5
not a subset, but intersecting
6
No intersection
7
No intersection
8

In [34]:
len(sorted_a[0])

10